<!doctype html>
{% load staticfiles %}
<html>
<head>
    <script src="{% static 'lib/angular.min.js' %}"></script>
    <script src="{% static 'playgraph/js/playgraph.js' %}"></script>
</head>
<body ng-app="PlayGraph">
<div ng-controller="BGGRequestController as reqCtrl">
    <label>Name:</label>
    <input type="text" ng-model="reqCtrl.bggUsername">
    <hr>
    <button ng-click="reqCtrl.submitRequest()">Get</button>
    <button ng-click="reqCtrl.submitRequest(true)">Refresh</button>
    <hr>
    <div ng-show="reqCtrl.user">
        <img ng-src="https:[[reqCtrl.user.avatar_link]]"/>
        <ul>
            <li ng-repeat="play in reqCtrl.user.plays track by $index">
                [[play.date | date]] - [[play.name]]
            </li>
        </ul>
    </div>
</div>
</body>
</html>